<html>
    <head>
        <title>Show File</title>
    </head>
    <body>
        <a href="/my_file/<%=@my_file.id %>/delete">delete</a>
        <h1><%= @filename %></h1>
        <h1>contents:</h1>

        <p><%= @my_file.contents %></p>


        <h1>word count:</h1>

        <p><%= @my_file.word_count %></p>

        <h1>word frequency:</h1>

        <table>
            <th>word</th>
            <th>frequency</th>
            <% @my_file.word_frequency_hash.each do |key, value| %>
            <tr>
                <td><%= "#{key}" %></td> 
                <td><%= "#{value}" %></td> 
            </tr>
        <% end %>
        </table>
        
    </body>
</html>